%h1 All users

= will_paginate

- @users.each do |user|
	%tr
		%td= link_to user.full_name, user_path(user)
		%td= link_to 'Show', user
		%td= link_to 'Edit', edit_user_path(user)
		- if current_user.admin? && !current_user?(user)
			%td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

	%br
	%br

= link_to 'New User', new_user_path

= will_paginate